md-content {
  overflow-x: hidden; }

md-tab-content {
  overflow: auto;
  bottom: 106px !important;
  overflow-x: hidden; }

md-tabs-canvas, md-pagination-wrapper {
  height: 76px !important; }

.md-icon-button {
  color: white; }

.journal-entry {
  background: #fff8dc; }

.login-container {
  height: 100%;
  width: 100%; }
  .login-container md-grid-list {
    height: 400px; }
    .login-container md-grid-list img {
      height: 500px; }
  .login-container .login-btn {
    height: 80px;
    font-family: Lato;
    font-size: 20px;
    border-radius: 50px; }

.top-toolbar, .sidenav-toolbar, .login-container {
  background: #fc8264;
  background: -webkit-linear-gradient(top, #fc8264, #fda893);
  background: -moz-linear-gradient(top, #fc8264, #fda893);
  background: linear-gradient(top, #fc8264, #fda893); }
  .top-toolbar .logo, .sidenav-toolbar .logo, .login-container .logo {
    height: 174px; }

.add-entry-btn {
  position: fixed !important;
  right: 0;
  top: auto; }

.main-tabs {
  height: 100%; }
  .main-tabs .md-stretch-tabs {
    position: fixed;
    background: white;
    height: 76px; }

.tab-title {
  text-align: center;
  font-family: Lato;
  font-weight: normal; }

.emotions-grid {
  overflow-x: hidden;
  font-family: Lato; }
  .emotions-grid .emotion-grid-item:active {
    padding: 6px 8px 6px 12px; }
  .emotions-grid .emotion-grid-item .emotion {
    height: 100%;
    width: 100%; }
    .emotions-grid .emotion-grid-item .emotion .md-button {
      height: 100%;
      width: 100%;
      background: #fc8264 !important;
      border-radius: 18px;
      border: solid white 10px;
      color: #FFFFFF; }
      .emotions-grid .emotion-grid-item .emotion .md-button:hover {
        background-color: #fda893 !important; }
      .emotions-grid .emotion-grid-item .emotion .md-button img {
        height: 60px;
        vertical-align: bottom; }
